[submodule "external/entt/entt"]
	path = external/entt/entt
	url = https://github.com/skypjack/entt.git
[submodule "external/solanaceae_util"]
	path = external/solanaceae_util
	url = https://github.com/Green-Sky/solanaceae_util.git
